body {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    height: 500px; /* Wysokość całego kontenera */
}

.map,
.satellite,
.empty-frame,
.puzzle-container {
    width: 650px;
    height: 450px;
    position: relative; /* Umożliwia pozycjonowanie wewnętrznych elementów */
}

.map {
    border: 1px solid #ccc; /* Ramka dla mapy */
}

.satellite img {
    width: 100%;
    height: auto; /* Utrzymuje proporcje zdjęcia */
}

.scrambled {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0; /* Ustawiamy gap na 0 */
    height: 100%;
}

.puzzle-container {
    border: 1px solid #ccc; /* Ramka dla kontenera na puzzle */
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0; /* Odstęp między puzzlami */
}
