/* page2.css */

/* Resetowanie podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    background-image: url('background.png');
    background-size: cover; /* Wypełnia tło */
    background-position: center; /* Ustawia obraz w centrum */
    color: #f0f0f0;
}

header {
    background-color: rgba(255, 71, 87, 0.8); /* Użycie półprzezroczystego tła */
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    border-bottom: 5px solid #2ed573;
}

h1 {
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 2.2em;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #2ed573;
    border-bottom: 2px dashed #ffffff;
    padding-bottom: 5px;
}

main {
    padding: 40px;
    max-width: 800px;
    margin: 30px auto;
    background: rgba(47, 53, 66, 0.9); /* Półprzezroczyste tło dla głównego kontenera */
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

p {
    margin: 20px 0;
    line-height: 1.8;
}

ul {
    list-style-type: circle;
    margin: 10px 0 20px 20px;
}

footer {
    text-align: center;
    padding: 25px 0;
    background-color: rgba(255, 71, 87, 0.8); /* Użycie półprzezroczystego tła */
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #2ed573;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #2ed573;
    background-color: #ff4757;
    padding: 2px 5px;
    border-radius: 5px;
}

/* Responsywność: style dla mniejszych ekranów */
@media (max-width: 768px) {
    header {
        padding: 30px 0;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    main {
        padding: 20px;
        margin: 20px 10px;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 0;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }

    main {
        padding: 15px;
        margin: 15px 5px;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    footer {
        padding: 15px 0;
    }
}
