/* page2.css */

/* Resetowanie podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
    margin: 0;
}

header {
    background-color: rgba(255, 71, 87, 0.8);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    border-bottom: 5px solid #2ed573;
}

h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 2.2rem;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.8rem;
    margin-top: 30px;
    color: #2ed573;
    border-bottom: 2px dashed #ffffff;
    padding-bottom: 5px;
}

main {
    padding: 40px;
    max-width: 90%;
    margin: 30px auto;
    background: rgba(47, 53, 66, 0.9);
    border: red 3px dashed;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.img-kot {
    display: block;
    margin: 20px auto 0;
    width: 80%;
    max-width: 200px;
    height: auto;
    border: 5px solid #2ed573; /* Grubsza, zielona ramka */
    border-radius: 0px;
}

#img_swap {
    display: flex;
    flex-direction: column-reverse;
}

p {
    margin: 20px 0;
    line-height: 1.8;
}

ul {
    list-style-type: circle;
    margin: 10px 0 20px 20px;
}

footer {
    text-align: center;
    padding: 25px 0;
    background-color: rgba(255, 71, 87, 0.8);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #2ed573;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #2ed573;
    background-color: #ff4757;
    padding: 2px 5px;
    border-radius: 5px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .img-kot {
        width: 120px; /* Zmniejszenie rozmiaru obrazka na mniejszych ekranach */
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    main {
        padding: 30px;
        max-width: 95%;
    }

    footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    .img-kot {
        width: 100px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    main {
        padding: 20px;
    }
}
